<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% comment %} {{ 'fonts.css' | asset_url | stylesheet_tag }} {% endcomment %}
    {%- render 'fonts' -%}
    {{ content_for_header }}

  </head>
  {% section 'cart-drawer' %}
  <body class="no-header-layout">
    {{ content_for_layout }}
  </body>
  <style>
    .no-header-layout {
      margin: 0;
      padding: 0;
    }

    .no-header-layout .shopify-section {
      max-width: 100% !important;
      margin: 0 auto;
      padding: 0;
    }

  </style>
</html>

{% comment %} .no-header-layout {
    overflow-x: hidden;
} {% endcomment %}

{% comment %} .no-header-layout .page-width {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
} {% endcomment %}