{% comment %} {% schema %}
{
  "name": "image products",
  "max_blocks": 12,
  "settings": [],
  "blocks": [
    {
      "type": "image_block",
      "name": "Image Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Choose Image"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "range",
          "id": "button_top",
          "label": "Button Top Position",
          "min": 0,
          "max": 100,
          "default": 50,
          "step": 1,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "button_left",
          "label": "Button Left Position",
          "min": 0,
          "max": 100,
          "default": 50,
          "step": 1,
          "unit": "%"
        }
      ]
    }
  ]
}
{% endschema %}

<div class="custom-image-grid">
  {% for block in section.blocks %}
    <div class="image-block" style="position: relative;">
      <img src="{{ block.settings.image | img_url: 'medium' }}" alt="Image Block" width="" height="">
    </div>
  {% endfor %}
</div>

<style>
  .custom-image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .image-block img {
    width: 100%;
    display: block;
  }

  .image-button {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
  }
</style> {% endcomment %}


{% schema %}
{
    "name":"Product Grid with plus",
    "settings": [],
    "blocks": [
        {
         "type": "product",   
         "name": "product",   
        }
    ]
}
{% endschema %}