{% comment %}
  Section: Hassan
{% endcomment %}

<div style="padding: 20px; background: #f5f5f5; text-align: center;">
  <h2>hassan</h2>
  <p>ده سكشن جديد أنا عملته ✌</p>
</div>

{% schema %}
{
  "name": "Hassan Section",
  "settings": [],
  "presets": [
    {
      "name": "Hassan Section"
    }
  ]
}
{% endschema %}
