<nav>
  <a> TISSO VISION </a>
  <div>Find the ideal gift for your loved ones.</div>
  <button>choose gift</button>
</nav>
<!-- image banner -->
<div>
  <img src="{{ 'gifts-upper.svg' | asset_url }}" width="" height="">
</div>
<!-- container -->
<div>
  <!-- Left Side -->
  <div>
    <h3>The Gift Guid</h3>
    <p>The Gift Guid</p>
    <button>Shop Now</button>
  </div>
  <!-- Right Side -->
  <div>
    <img src="{{ 'gifts-upper.svg' | asset_url }}" width="" height="">
  </div>
</div>
