{% schema %}
{
  "name": "New Navbar",
  "settings": [
    {
      "type": "text",
      "id": "brand_text",
      "label": "Brand Text",
      "default": "My Brand"
    },
    {
      "type": "text",
      "id": "center_text",
      "label": "Center Text",
      "default": "you can edit me man"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Click Me"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/"
    }
  ]
}
{% endschema %}

{{ 'new-navbar.css' | asset_url | stylesheet_tag }}

<div>
  <!-- left: Brand -->
  <div>
    <a href="/home" class="navbar-brand">
      {{ settings.brand_text }}
    </a>
  </div>
  <!-- center: Text -->
  <div>
    {{ section.settings.center_text }}
  </div>
  <!-- Right: Button -->
  {% render 'button-snippet', link: section.settings.button_link, label: section.settings.button_label %}

</div>
